Title: "404 - Page Not Found"
Layout: "_Layout.cshtml"
---
<section id="four-oh-four" style="text-align: center; padding: 4em 0;">
    <header class="major">
        <h1>Whoops! Broken Plate?</h1>
    </header>

    <div class="image fit" style="max-width: 600px; margin: 0 auto 2em auto;">
        <img src="/images/404-broken-plate.webp" alt="404 Page Not Found" />
    </div>

    <p>
        <strong>404 Error:</strong> The page you are looking for has been moved, removed,
        renamed, or perhaps it slipped out of our hands and shattered on the floor.
    </p>

    <p>Don't worry, we have plenty more beautiful tableware to show you.</p>


    <ul class="actions special">
        <li><a href="/" class="button primary">Return to Homepage</a></li>
        <li><a href="https://wiki.tableware.com" target="_blank" class="button">Tableware Wiki</a></li>
    </ul>
</section>