@* /*
 * Author  : Winson
 * Website : https://www.coderblog.in
 * Medium  : https://medium.com/@winsonet
 * * Copyright (c) 2026 Winson. All rights reserved.
 * Licensed under the MIT License. See LICENSE file in the project root for full license information.
 */ *@

<!DOCTYPE HTML>
<html>

<head>
    <title>@(Document.GetString("Title") ?? "Tableware.com")</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="description" content="@Document.GetString("Description")" />
    <link rel="stylesheet" href="/assets/css/main.css" />

    @{
        var gaId = Context.Settings.GetString("GoogleAnalyticsId");
    }
    @if (!string.IsNullOrEmpty(gaId))
    {
        <script async src="https://www.googletagmanager.com/gtag/js?id=@gaId"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());
            gtag('config', '@gaId');
        </script>
    }

    @{
        var adsId = Context.Settings.GetString("GoogleAdSenseId");
    }
    @if (!string.IsNullOrEmpty(adsId))
    {
        <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=@adsId"
             crossorigin="anonymous"></script>
    }
</head>

<body class="is-preload">

 
            <div class="gtranslate_wrapper"></div>

            <script>
                        //support gtranslate
                            window.gtranslateSettings = {
                                "default_language": "en",    
                                "detect_browser_language": true, 
                                "wrapper_selector": ".gtranslate_wrapper",
                                "flag_style": "3d",        
                                "alt_flags": {},          
                                "languages": ["en", "zh-CN", "zh-TW", "ja", "ko"], 
                                "wrapper_selector": ".gtranslate_wrapper",
                                "switcher_horizontal_position": "right", 
                                "switcher_vertical_position": "top",
                                "float_switcher_open_direction": "bottom",
                                "native_language_names": true 
                            };
            </script>
            <script src="https://cdn.gtranslate.net/widgets/latest/float.js" defer></script>
    <!-- Wrapper -->
    <div id="wrapper">

        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                <header id="header">
                    <a href="/" class="logo"><strong>Tableware</strong></a>
                    @* <ul class="icons">
                        <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                        <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                        <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                    </ul> *@
                </header>

                @RenderBody()

               

            </div>
        </div>

        <!-- Sidebar -->
        @await Html.PartialAsync("_Sidebar")

    </div>

    <!-- Scripts -->
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/browser.min.js"></script>
    <script src="/assets/js/breakpoints.min.js"></script>
    <script src="/assets/js/util.js"></script>
    <script src="/assets/js/main.js"></script>


</body>

</html>